.container{
    text-align: center;
    position: relative;
    height: 100%;
    width : 100%;
    background-color: black;
}

header{
    text-align: center;
    background-color: aquamarine;
    width: 100%;
}

.myTitle{
    /* width: 100%; */
}

#mainGameDiv{
    width: 100%;
    height: 85%;
}

#statsDiv{
    /* width:100%; */
    background-color: beige;
}

#messagesDiv{

    height: 15%;
    width: 100%;
    background-color: orange;
    text-align: left;
}
#messageBox{
    width: 100%;
    height: 70px;
    overflow: auto;
    
}
#playerDiv{
    /* width: 100%; */
    height: 50%;
    background-color: pink;
}

#messageContainer{
    background-color: blueviolet;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

#gameContainer{
    background-color: blueviolet;
    width: 100%;
   
}

.form-inline{
    width :100%;
}
span{
    padding: 0px;
}

.my-form-inline{
    display: inline-block;
}

.form-control{
    width: 100%;
}

form {
    position: relative;
    width: 100%;
  }
  
  input {
    width: 100%;
    padding-right: 60px;
  }
  
  button {
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
  }